
@{
    ViewBag.Title = "Exchange - Easy for Exchange Everything";
    Layout = "~/Views/Shared/UserHomeHeaderFooter_LayoutPage.cshtml";
}

        <div class="col-12 py-5">

            <div class="panel-default">
                <div class="panel-heading"><h1>FAQ </h1> </div>
                <div class="panel-body">
                    <h2>FAQ</h2>
                </div>
            </div>
        </div>
   