
@{
    ViewBag.Title = "NewIndex";
    Layout = "~/Views/Shared/UserHome_LayoutPage.cshtml";
}


<div class="card">
    <div class="card-header text-center"><h5>Products </h5></div>
    <div class="card-body p-4">
        <h5 class="text-left mb-4">Latest Uploaded</h5>
        <div class="item row card-deck cardborder">
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine5.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine4.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine1.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine2.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
          
        </div>

        <h5 class="text-left mb-4 mt-4">Recent Most Viewed</h5>
        <div class="item row card-deck cardborder">
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine5.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine4.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div><div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine3.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine1.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine2.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>

        </div>

        <h5 class="text-left mb-4 mt-4">Our Sucess Story</h5>
        <div class="item row card-deck cardborder">
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine5.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine4.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine1.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine2.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
            <div class="card card-test bg-card-color Zoom-animation">
                <img class="card-img-top card-image-height" src="~/customize/img/engine3.jpg" alt="Card image">
                <div class="card-body text-center p-2 pb-3">
                    <span class="mt-1 product-title">Honda City 1.5 V Mt,car engine</span><br>
                    <span class="product-category">Automobile</span><br>
                    <span class="product-subcategory">Spare Parts</span>
                    <p class="mb-0">
                        <a href="/HomeBuilt1/ProductDetails" class="custom-btn btn-exchange btn-block quick-view">Quick View</a>
                        @*<div style="display:inline-block;float:right;"><a href="#"><i class="fa fa-info-circle"></i> Detail</a></div>*@
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>