
@{
    ViewBag.Title = "Exchange - Easy for Exchange Everything";
    Layout = "~/Views/Shared/UserHomeHeaderFooter_LayoutPage.cshtml";
}
        

        <div class="col-12 py-5">

            <div class="panel-default">
              
                <div class="panel-body">
                    <h2>Safety Tips</h2>
                </div>
            </div>
        </div>
      