<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="mt-3">Pinaack Solutions &copy; 2018-2019</p>
            </div>

        </div>
    </div>
</footer>
