@*<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Exchange</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link font-white">LogOut <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</nav>*@
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Exchange</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav ml-auto">
                <li class=" nav-item active"><a href="/HomeBuilt1/NewIndex" class="nav-link text-white">Home</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/About" class="nav-link text-white">About</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/SafetyTips" class="nav-link text-white">Safety Tips</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/FAQ" class="nav-link text-white">FAQ</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/PrivacyPolicy" class="nav-link text-white">Privacy Policy</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/NewIndex" class="nav-link font-white text-white">LogOut <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                @*<li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-black-50" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/HomeBuilt1/Login">Login</a>
                        <a class="dropdown-item" href="/HomeBuilt1/SignUp">Register</a>
                        <a class="dropdown-item" href="/HomeBuilt1/NewDashBoard">User Dashboard</a>
                    </div>
                </li>*@
                @*<li class="nav-item"><a href="#" class="nav-link font-white">LogOut <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>*@
            </ul>
        </div>
     
    </div>
</nav>
