<div class="modal fade" id="productDetails"  data-backdrop="false">
    <div class="modal-dialog modal-lg-full">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid mb-2">
                    <div class="row">
                        <div class="col-md-12">
                            @*class="card"*@
                            <div>
                                @*class="card-body"*@
                                <div>
                                    <div class="row">
                                     
                                        <div class="col-md-12">
                                            
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="align-center-details mb-4 mt-2"><span class="align-center-span" style="font-size:26px; background-color:white;">What I Have</span></h4>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label for="txtproducttitle" class="col-md-3 col-form-label"><strong>Product Title</strong></label>
                                                        <div class="col-md-9">
                                                            <label type="text">Maruti Car Engine</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="ddlcategory" class="col-md-3 control-label"><strong>Category</strong></label>
                                                        <div class="col-md-3">
                                                            <label type="text">Engine</label>
                                                        </div>
                                                        <label for="ddlsubcategory" class="col-md-3 "><strong>Sub Category</strong></label>
                                                        <div class="col-md-3">
                                                            <label type="text" class="text-justify">Car Engine</label>
                                                        </div>

                                                    </div>
                                               

                                                    <div class="form-group row">
                                                        <label for="txtdescription" class="col-md-3 col-form-label"><strong>Description</strong></label>
                                                        <div class="col-md-9 text-justify" >
                                                            <label type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tincidunt, sapien sagittis sollicitudin dapibus, risus mi euismod elit, in dictum justo lacus sit amet dui. Sed faucibus vitae nisl at dignissim. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="pwd" class="col-md-3"><strong>Exchange Process</strong></label>
                                                        <div class="col-md-9">
                                                                    <label type="text">Need Items</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                          <img src="~/customize/img/engine4.jpg" alt="..." class="img-fluid product-list-image-size">

                                                        </div>
                                                        <div class="col-md-2">
                                                            <img src="~/customize/img/engine4.jpg" alt="..." class="img-fluid product-list-image-size">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <img src="~/customize/img/engine4.jpg" alt="..." class="img-fluid product-list-image-size">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <img src="~/customize/img/engine4.jpg" alt="..." class="img-fluid product-list-image-size">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <img src="~/customize/img/engine4.jpg" alt="..." class="img-fluid product-list-image-size">
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </div>
                                        </div>

                                        <div class="col-md-12 mt-4">
                                            <h4 class="align-center-details mb-4 mt-2"><span class="align-center-span" style="font-size:26px; background-color:white;">What I want instead</span></h4>
                                        </div>
                                      
                                                  
                                                   
                                                    <div class="col-md-12" id="Needitems">
                                                 
                                                        <p id="counter"></p>
                                                        <table class="table  table-condensed table-hover">
                                                            <tr>
                                                                <th>Product Title</th>
                                                                <th>Category</th>
                                                                <th>Sub Category</th>
                                                                <th>Description</th>
                                                                <th>Images</th>
                                                                <th></th>
                                                            </tr>
                                                            <tbody>
                                                                <tr>
                                                                 
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td>Thornton</td>
                                                                    <td>
                                                                        <div class="text-justify">
                                                                            <label type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tincidunt, sapien sagittis sollicitudin dapibus, risus mi euismod elit, in dictum justo lacus sit amet dui. Sed faucibus vitae nisl at dignissim. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</label>
                                                                        </div>
                                                                    </td>
                                                                    <td><img src="~/customize/img/engine4.jpg" alt="..." class="img-fluid product-list-image-size"></td>
                                                                 

                                                                  
                                                                </tr>
                                                                <tr>
                                                                
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td>Thornton</td>
                                                                    <td>
                                                                        <div class="text-justify">
                                                                            <label type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tincidunt, sapien sagittis sollicitudin dapibus, risus mi euismod elit, in dictum justo lacus sit amet dui. Sed faucibus vitae nisl at dignissim. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</label>
                                                                        </div>
                                                                    </td>
                                                                    <td><img src="~/customize/img/engine1.jpg" alt="..." class="img-fluid product-list-image-size"></td>
                                                                  

                                                                   
                                                                </tr>
                                                                <tr>
                                                                  
                                                                    <td>Larry</td>
                                                                    <td>the Bird</td>
                                                                    <td>Thornton</td>
                                                                    <td>
                                                                        <div class="text-justify">
                                                                            <label type="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tincidunt, sapien sagittis sollicitudin dapibus, risus mi euismod elit, in dictum justo lacus sit amet dui. Sed faucibus vitae nisl at dignissim. Ut nec tincidunt arcu, sit amet fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</label>
                                                                        </div>

                                                                    </td>
                                                                    <td><img src="~/customize/img/engine2.jpg" alt="..." class="img-fluid product-list-image-size"></td>
                                                               

                                                                   
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                           
                                      
                                    </div>


                                </div>
                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
