<nav class="side-navbar">

    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="/customize/vendor/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title mt-4">
            <h1 class="h6">Mark Stephen</h1>
            &nbsp;
        </div>
    </div>
    @*<button class="navbar-toggler btncollapse hide" type="button" data-toggle="collapse" data-target="#siderbar">
        <span class="navbar-toggler-icon"></span>
    </button> class="collapse navbar-collapse"*@
   
    <div  id="siderbar">
        <ul class="list-unstyled">
            <li><a class="testnvalink" href="/HomeBuilt1/NewDashBoard"> <i class="fa fa-home mr-2"></i>Dashboard</a></li>
            <li><a class="testnvalink" href="/HomeBuilt1/AddProduct"> <i class="fa fa-plus-square mr-2"></i>Add Products</a></li>
            <li><a class="testnvalink" href="/HomeBuilt1/NewMessageHistory1"> <i class="fa fa-comments-o mr-2"></i>Message History</a></li>
            @*<li><a > <i class="fa fa-bookmark mr-2"></i>Bookmark</a></li>*@
            <li><a class="testnvalink" href="/HomeBuilt1/IndentityVerification"> <i class="fa fa-check-circle mr-2"></i>Indentity Verification</a></li>
            <li><a class="testnvalink" href="/HomeBuilt1/UserProfile"> <i class="fa fa-user mr-2"></i>My Profile</a></li>
            <li><a class="testnvalink" href="/HomeBuilt1/Notification"> <i class="fa fa-bell mr-2"></i>User Notification</a></li>
        </ul>
    </div>
</nav>

