<div class="card border-radius m-l-10">
    <div class="card-header text-center"><h5>Categories</h5></div>
    <div class="card-body pl-1 pr-1 align-center">
        <div>
            <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="container">
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header collapsed cursor-pointer"  data-toggle="collapse" href="#collapseOne">
                                <a class="card-title">
                                    Furniture
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Furniture</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Electronics & Appliances</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Mobiles</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Bikes</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Household Items</button>

                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <a class="card-title">
                                    Electronics & Appliances
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Books</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Sports</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Fashion</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Services</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Automobiles</button>
                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <a class="card-title">
                                    Mobiles
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Bikes</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Household Items</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Books</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Sports</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Fashion</button>
                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                <a class="card-title">
                                    Bikes
                                </a>
                            </div>
                            <div id="collapsefour" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Bikes</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Household Items</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Books</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Sports</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Fashion</button>
                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                <a class="card-title">
                                    Household Items
                                </a>
                            </div>
                            <div id="collapsefive" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Furniture</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Electronics & Appliances</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Mobiles</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Fashion</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Automobiles</button>
                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                <a class="card-title">
                                    Books
                                </a>
                            </div>
                            <div id="collapsesix" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Furniture</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Electronics & Appliances</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Bikes</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Services</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Automobiles</button>
                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                <a class="card-title">
                                    Sports
                                </a>
                            </div>
                            <div id="collapseseven" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Furniture</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Electronics & Appliances</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Mobiles</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Sports</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Services</button>
                                </div>
                            </div>
                            <div class="card-header collapsed cursor-pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseeight">
                                <a class="card-title">
                                    Fashion
                                </a>
                            </div>
                            <div id="collapseeight" class="collapse" data-parent="#accordion">
                                <div class="card-body p-2">
                                    <button class="list-group-item list-group-item-action cursor-pointer">Furniture</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Electronics & Appliances</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Mobiles</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Bikes</button>
                                    <button class="list-group-item list-group-item-action cursor-pointer">Household Items</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            

            </div>
        </div>

    </div>
</div>
