<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark main-header">
    <div class="container">
        <a class="navbar-brand text-black-50" href="#"><img src="~/images/Exchange1.png" style="height:50px;" /></a>
        <button class="navbar-toggler btncollapse" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul  class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/HomeBuilt1/NewIndex" class="nav-link text-black-50">Home</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/About" class="nav-link text-black-50">About</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/SafetyTips" class="nav-link text-black-50">Safety Tips</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/FAQ" class="nav-link text-black-50">FAQ</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/PrivacyPolicy" class="nav-link text-black-50">Privacy Policy</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/Login" class="nav-link text-black-50">Login</a></li>
                <li class="nav-item"><a href="/HomeBuilt1/SignUp" class="nav-link text-black-50">Register</a></li>
                @*<li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-black-50" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Profile
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/HomeBuilt1/Login">Login</a>
                        <a class="dropdown-item" href="/HomeBuilt1/SignUp">Register</a>
                      
                    </div>
                </li>*@
                @*<li class="nav-item"><a href="#" class="nav-link font-white">LogOut <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>*@
            </ul>
        </div>
    </div>  
</nav>
