@*<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="mt-3">Pinaack Solutions &copy; 2018-2019</p>
            </div>

        </div>
    </div>
</footer>*@

<footer style="border-top: 1px solid lightgray; background-color:#2c4152;">

    <div class="container p-3 pt-4 pb-4">
        <div class="row">
            <div class="col-md-5 text-white">
              
                    <h4>Exchange</h4>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet
                    fermentum sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet
                    fermentum sem.
                </p>
            </div>
            <!--end col-md-5-->
            <div class="col-md-2 text-white">
                <h4>Navigation</h4>
                @*<div class="row">
                    <div class="col-md-6 col-sm-6">*@
                        <nav>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">My Ads</a>
                                </li>
                                <li>
                                    <a href="/HomeBuilt1/WebListingProduct">Listing</a>
                                </li>
                                <li>
                                    <a href="/HomeBuilt1/Login">Sign In</a>
                                </li>
                                <li>
                                    <a href="/HomeBuilt1/SignUp">Register</a>
                                </li>
                                <li>
                                    <a href="/HomeBuilt1/PrivacyPolicy">Privacy Policy</a>
                                </li>

                            </ul>
                        </nav>
                    @*</div>
                   
                </div>*@
            </div>
            <div class="col-md-2 text-white">

                <h4>Follow Us</h4>
                <div class="ftr-items"><a href="#" title="Facebook" target="_blank">Facebook</a><br />
                <a href="#" title="Instagram" target="_blank">Instagram</a><br />
                <a href="#" title="Twitter" target="_blank">Twitter</a><br />
                <a href="#" title="Pinterest" target="_blank">Pinterest</a>
            </div>
                @*<nav>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">My Ads</a>
                        </li>
                        <li>
                            <a href="/HomeBuilt1/WebListingProduct">Listing</a>
                        </li>
                        <li>
                            <a href="/HomeBuilt1/Login">Sign In</a>
                        </li>
                        <li>
                            <a href="/HomeBuilt1/SignUp">Register</a>
                        </li>
                        <li>
                            <a href="/HomeBuilt1/PrivacyPolicy">Privacy Policy</a>
                        </li>

                    </ul>
                </nav>*@

            </div>
            <!--end col-md-3-->
            <div class="col-md-3 text-white">
                <h4>Contact</h4>
               @* <address>
        <figure>
            124 Abia Martin Drive<br>
            New York, NY 10011
        </figure>
        <strong>Email:</strong> <a href="#">hello@Exchange.com</a>

        <strong>Skype: </strong> Exchange
        <br>

        <a href="../../html/craigs/contact.html" class="btn btn-primary text-caps btn-framed">Contact Us</a>
    </address>*@
                <p >
                    Pinaack House, Sardarpura,
                    <br > Udaipur, Rajasthan
                    <br > India 313001
                    <br >
                    <strong >
                        <i  class="fa fa-phone"></i>
                    </strong> +91-9983343331
                    <br >
                    <strong >
                        <i  class="fa fa-envelope"></i>
                    </strong>


                    <span  class="not-active"> info@pinaacksolutions.com</span>
                </p>
            </div>
            <!--end col-md-4-->
        </div>
        <!--end row-->
    </div>

    <!--end background-->

</footer>