

.navbar-custom {
    background-color: #5162b7;
    /*background-color: #f68585;   OLD*/
    color: #555;
    font-size: 15px;
    font-weight: bold;
    /*text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    text-align: left;*/
    /*font-family:'DejaVu Math TeX Gyre', 'Arial Narrow', Arial, sans-serif;*/
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: blueviolet;
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: #000000;
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #2da9e9;
    }


.margintop {
    margin-top: 60px;
}

 .page > .content {
    background-color: #f2f2f2;
    z-index: 1;
    padding-top: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

card:hover {
    border-radius: 13px !important;
    border: 3px solid #fd3c45 !important;
}

.cardborder {
    background: border-box;
    color: aquamarine;
}

    .cardborder :hover {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #000 !important;
        color: #fff;
    }
/*.card-fixed-size-c1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    min-height: 15.5rem;
}*/

.sliderHeight {
    height: 260px;
}
/*.sliderImageWidth {
width:1400px;
}*/


/*.carousel-item img {
        height: 400rem;
    }*/








/*for Category and sub category*/
body {
    font-family: Sanchez,serif;
    /*background: #ffffff;*/
}

.wrapper {
    width: 105%;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.panel-hightwidth {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
    text-align: left;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
    
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}


/*Dropdown menu CSS*/
.dropbtnN {
    background-color: #4CAF50;
    color: white;
    
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 250px;
    height:39px;
}

.dropdownN {
    position: relative;
    display: inline-block;
}

.dropdownN-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdownN-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdownN-content a:hover {
            background-color: #f1f1f1;
        }

.dropdownN:hover .dropdownN-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*New dropdown CSS*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 30px;
    }
